/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
}

ul{
  list-style: none;
}

.text-center{
  text-align: center;
}

.mobile-hide{
  @media screen and (max-width: 900px) {
    display: none;
  }
}