/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
}

ul{
  list-style: none;
}

.text-center{
  text-align: center;
}

.font{
  font-family: 'Eczar', serif;
}

.mobile-hide{
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.container{
  animation-name: fadeIn;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  opacity: 0;
}

.header-blocker{
  width: 100vw;
  height: 99px;
}

@keyframes fadeIn{
  0% { opacity: 0 }
  100% { opacity: 1 }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
