<!-- <div class="landing-container">
  <div class="main-box">
    <h1>Stardew Valley <br> Relationships</h1>
    <a routerLink="/guide" class="main-link link-1">Guide</a>
    <a routerLink="/villagers" class="main-link link-2">Villagers</a>
    <a routerLink="/gifts" class="main-link link-3">Gifts</a>
  </div>
  <p class="quote"></p>
</div> -->

<div class="stardew block">
  <div class="letter s">S</div>
  <div class="letter t">T</div>
  <div class="letter a">A</div>
  <div class="letter r">R</div>
  <div class="letter d">D</div>
  <div class="letter e">E</div>
  <div class="letter w">W</div>
</div>

<div class="second block">
  <div class="lower v">V</div>
  <div class="lower a">A</div>
  <div class="lower l">L</div>
  <div class="lower l">L</div>
  <div class="lower e">E</div>
  <div class="lower y">Y</div>
</div>

<div class="link-holder">
  <a class='landing-link' routerLink='/guide'>Guide</a>
  <a class='landing-link' routerLink='/villagers'>Villagers</a>
  <a class='landing-link' routerLink='/gifts'>Gifts</a>
</div>