<app-header></app-header>

<div class="container">
  <div class="header-blocker"></div>
  <div *ngIf="showProfile; then thenBlock else elseBlock"></div>

  <ng-template #thenBlock>
    <app-profile (closeProfile)='closeProfileRun()' [profile]=selectedVillager></app-profile>
  </ng-template>

  <ng-template #elseBlock>
    <div class="villager-group">
      <h3 class="text-center title">Marriable</h3>
      <div class="npc-holder">
        <app-person *ngFor='let villager of marry_villagers' [npc]=villager (selected)='pickVillager($event)'>
        </app-person>
      </div>
    </div>


    <div class="villager-group">
      <h3 class="text-center title">Non-Marriable</h3>
      <div class="npc-holder">
        <app-person *ngFor='let villager of non_marry_villagers' [npc]=villager (selected)='pickVillager($event)'>
        </app-person>
      </div>
    </div>

  </ng-template>



</div>