<div class="container">
  <div class="main-box">
    <h1>Quiz Page</h1>
  </div>

  <div class="player-db">
    <button (click)='changeDBplayer()'>{{newDBPlayer ? "Not interested": "Add Me to DB"}}</button>
    <button (click)='testme()'>test</button>
  </div>

  <div class="playerInfo" *ngIf='newDBPlayer'>
    <div class='player-form'>
      <h3>This will only show if the player wants to be saved to the db</h3>

      <div class="input-group">
        <input type="text" name='name' [(ngModel)]='player.name' placeholder="name...">
        <p>{{player.name}}</p>
      </div>

      <div class="input-group">
        <input type="text" name='gamertag' [(ngModel)]='player.gamertag' placeholder="gamertag...">
        <p>{{player.gamertag}}</p>
      </div>

      <select name="platform" [(ngModel)]='player.platform'>
        <option *ngFor='let system of systems'>{{system}}</option>
      </select>

      <div class="input-group">
        <button class="subBtn btn" (click)='submitPlayer()'>Submit</button>
      </div>
    </div>

  </div>
</div>