

.item-holder{

  display: grid;
  grid-template-columns: repeat(6, 138px);
  margin: 1em auto;
  width: fit-content;
  gap: 20px;

  .item{
    background-color: #ccc;
    border-radius: 10px;
    padding: 5px;

    .showcase{
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
  
      img{
        display: block;
        width: 85%;
        margin: 0 auto;
        height: auto;
      }
    }
    
  }
}