header{
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56.8px;
  border-bottom: 1px black solid;

  @media screen and (max-width: 900px) {
    display: block;
  }

  h1{
    font-family: 'Eczar', serif;

    @media screen and (max-width: 900px){
      text-align: center;
      font-size: 30px;
    }
    @media screen and (max-width: 600px){
      font-size: 24px;
    }

    a{
      text-decoration: none;
      color: black;
      padding: 0pc 30px;
      &:hover{
        background-color: #222;
        color: rgb(0, 255, 170);
      }
    }
  }

  nav ul{
    display: flex;

    li a{
      padding: 10px;
      text-decoration: none;
      color: black;
      font-family: 'Eczar', serif;
      margin-left: 5px;
      height: 56.8px;
      display: grid;
      place-items: center center;

      &:hover{
        background-color: #222;
        color: rgb(0, 255, 170);
      }
    }
  }

  
}