@import "../../sassVars.scss";

section{
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 40px 0;
  line-height: 2;

  h2, h3{
    font-family: $font-content;
    font-weight: 300;
    margin-bottom: 1em;
  }

  h2{
    font-size: 30px;
    text-decoration: underline;

    @media screen and (max-width: 750px) {
      font-size: 22px;
    }
  }

  .sub-wrap{
    width: 70%;
    margin: 1em auto 0 auto;

    @media screen and (max-width: 1000px) {
      width: 80%;
    }
    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }

  p.content{
    font-size: 20px;
    font-family: $font-content;
    letter-spacing: 1.1px;

    @media screen and (max-width: 750px) {
      font-size: 16px;
    }
    @media screen and (max-width: 500px) {
      font-size: 13px;
    }
  }
}

.wrapper{
  background-color: rgba(255, 255, 255, 0.918);
  width: 70%;
  border-radius: 30px;
  display: grid;
  place-items: center center;
  padding-bottom: 2em;

  @media screen and (max-width: 1200px) {
    width: 80%;
  }

  @media screen and (max-width:1000px) {
    width: 90%;
  }
  @media screen and (max-width:500px) {
    width: 96%;
  }
}

.section1{

  background: url('../../assets/images/NightMarket.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;

  h1{
    font-size: 36px;
    font-family: $font-title;

    @media screen and (max-width: 750px) {
      font-size: 24px;
    }
  }

  .top-part{
    width: fit-content;
    margin: auto;
    padding: 20px;
  
    img{
      width: fit-content;
      margin: 0 auto;
      display: block;
    }
  }
}

.break-bar{
  height: 5vh;
  background-color: black;
}

.section2{
  background-color: whitesmoke;
  background: url('../../assets/images/farmday.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section3{
  background: url('../../assets/images/NightMarket.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.list{
  margin: .5em auto 0 auto;
  width: fit-content;
  padding: 1em;
  border-radius: 20px;

  .flex-list-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h4{
      margin: 0 10px 0 0;
      font-family: $font-title;
      font-size: 20px;
    }

    p.caption{
      height: 37px;
      display: grid;
      place-items: center center;
    }
  }

  ul{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    padding: 10px 0;
    border-radius: 20px;

    li{
      width: fit-content;
      margin: 0 auto;
      position: relative;
      font-size: 20px;

      &::before{
        content: "";
        width: 5px;
        height: 5px;
        background-color: white;
        display: block;
        position: absolute;
        top: calc(50% - 2.5px);
        left: -10px;
        transform: rotateZ(45deg)
      }
    }
  }
}