<app-header></app-header>

<div class="container">
  <section class='section1'>
    <div class="wrapper">
      <div class="top-part">
        <h1 class='title text-center'>Relationship Guide</h1>
        <img src="https://stardewvalleywiki.com/mediawiki/images/1/1a/Seven_Hearts.png" alt="heart meter">
      </div>

      <div class="sub-wrap">
        <h2 class="sub-title title">Background</h2>
        <p class="content">Stardew Valley has a lot of different things to do in the game. Farming, obviously, is the
          game's core mechanic, but there is also game mechanics for mining, combat, friendships, and even dating and
          marriage! This guide is here to help you find what items to give to each villager in order to increase your
          friendship level. The rewards for this effort, outside of being the most popular farmer in town, are new
          recipes, resources, and good old fashioned coin.</p>
      </div>

      <div class="sub-wrap">
        <h2 class="sub-title title">Friendship Level</h2>

        <p class="content">Let's start out with how friendships work. There is a number that is associated with the
          friendship between you and a NPC. It starts at zero and will increase through interactions with the character.
          This number is displayed to you as a heart meter between 0 and 10 hearts. A 'Marriable' NPC's limit without
          dating them is 8 hearts. 'Non-Marriable' NPCs go up to 10. The most common and effective interaction for
          increasing your friendship level is to give that person a gift. Each character has gifts that they love, like,
          are neutral towards, dislike or hate. To make things a little more interesting, all of these lists are
          different for each character.</p>
      </div>
    </div>
  </section>

  <div class="break-bar"></div>

  <section class='section2'>
    <div class="wrapper">
      <div class="sub-wrap">
        <h2 class="sub-title title">What should I do?</h2>

        <p class="content">There are some things, such as Prismatic Shards, which are universally loved. Except by
          Haley, who hates them. And they are super rare, and they are super valuable. So you probably won't be giving
          them away early on in your playthrough. That is pretty much how these universal lists work. What our aim is
          here on this site it to allow you to decide which items to grow/gather for use as gifts that are somewhat easy
          to come
          by if you plan ahead.</p>

        <div class="list">
          <div class="flex-list-title">
            <h4 class="list-title">Loves:</h4>
            <p class="caption">(More often then not, these thing are Univerally Loved by everyone)</p>
          </div>

          <ul class='show-dec'>
            <li>Golden Pumpkin</li>
            <li>Prismatic Shard</li>
            <li>Magic Rock Candy</li>
            <li>Pearl</li>
            <li>Rabbit's Foot</li>
          </ul>
          <p class="sub-text text-center">Exceptions: Haley hates Prismatic Shard, Penny hates Rabbit's Foot</p>
        </div>

        <div class="list">
          <div class="flex-list-title">
            <h4 class="list-title">Likes: </h4>
            <p class='caption'>(This list is peppered with exceptions. Make sure to read the fine print!)</p>
          </div>

          <ul class='show-dec'>
            <li>Artisan Goods</li>
            <li>Cooked Food</li>
            <li>Flowers</li>
            <li>Foraged Minerals</li>
            <li>All Fruit Tree Fruits*</li>
            <li>Gems</li>
            <li>Vegetables</li>
          </ul>
          <p class="sub-text text-center">* only exceptions for fruit tree fruits are things that npcs love, so no big
            deal</p>
          <p class="sub-text text-center">Exceptions to this list: Oil-disliked, Void-Mayonaise-hated, Fried Egg and
            Bread-neutral,
            Strange Bun and Seafoam Pudding-hated, Poppy-disliked, Quartz-all over the place, Hops, Tea Leaves, and
            Wheat-neutral, Unmilled Rice-disliked</p>
        </div>



      </div>
    </div>


  </section>

  <div class="break-bar"></div>

  <section class="section3">
    <div class="wrapper">
      <div class="sub-wrap">
        <h2 class="subtitle title">Basic Strategy</h2>
        <p class="content">Do you rememeber me mentioning that there is a number associated with each relationship that
          you have with NPCs throughout the game? Well that number can be anywhere between 0 and 2749. There are a lot
          of
          different things you can do to make that number go up or down. Simply interacting with the NPC will raise that
          number by 20 points each day, unless they are in the middle of some activity. Then it will only increase by
          10.
          See what I mean by the exceptions thing. It will always be something, unless it is not. If you are a min/max
          type player who likes to know every single way to gain advantages over everything in a game, then you should
          check out the <a class='inline-tag' href="https://stardewvalleywiki.com/Friendship#Universal_Gifts">Stardew
            Valley Wiki</a> for all of the different ifs, ands, and buts that make up relationships in the game.</p>
        <br>
        <p class="content">I have a simple approach to the relationship problem that seems to work pretty well. This
          approach takes advantage of two things. 1. Every NPC has a birthday. 2. Every NPC likes tree fruit. I would
          suggest that when Demetrius shows up at your farm looking to set up an experiment in the caves, select the
          fruit
          bat option over the mushroom one. This will give you some early access to tree fruits. Pierre sells tree fruit
          saplings at his shop, which are relativiely expensive considering that it will take you awhile to make your
          money back from selling the fruit and it will take a whole season for the fruit tree to grow. It still would
          be
          a good idea to grab a peach or orange tree as soon as you can spare the gold for one and place it on your
          farm.
          Gus loves oranges, and Robin loves peaches. Everyone else likes both. Once you have the green house unlocked
          either through the community center or by selling your soul at Jojo Mart, you can plant all six fruit trees
          inside against the walls. Grow trees, gather fruits, buy friendships.</p>
        <br>
        <p class="content">The most important part of this whole scheme is to rememeber birthdays. There is a calander
          outside of Pierre's shop which shows upcoming ones. I recommend buying one from Robin, because it can be
          annoying to travel all the way to town and see that you need to go back to the farm to grab a gift for
          someone.
          For birthdays escpecially, it makes a big difference to gift a NPC something that they love. The way the math
          works out, the difference amounts to just under a whole heart. It's kind of a big deal.</p>
        <br>
        <p class="content">In summary, find out what each NPC loves to get as a gift and make sure you give them it on
          their birthday. The rest of the time, make a gift run with a lot of tree fruits as you make your way through
          town to do other things. Before long, you will be the most popular farmer in the land. Have fun!</p>
      </div>
    </div>
  </section>
</div>