<app-header></app-header>

<div class="container">
  <h1 class='text-center'>Relationship Guide</h1>
  <section>
    <h2 class="sub-title">How Does this whole thing work?</h2>
    <p class="content">Stardew Valley has a lot of different things to do in the game. Farming, obviously, is the game's
      core mechanic, but there is also game mechanics for mining, combat, friendships, and even dating and marriage!
      This guide is here to help you find what items to give to each villager in order to increase your friendship
      level. The rewards for this effort, outside of being the most popular farmer in town, are new recipes, resources,
      and good old fashioned coin.</p>
  </section>

  <section>
    <h2 class="sub-title">Freindship Level</h2>
    <p class="content">Let's start out with how friendships work. There is a number that is associated with your
      friendship with a NPC. It starts at zero and will increase through interactions with the character. The most
      common and effective interaction for increasing your friendship level is to give that person a gift. Each
      character has gifts that they love, like, are neutral towards, dislike and hate. To make things a little more
      intersting, all of these lists are different for each character.</p>

    <p class=content>There are lists of items that are universal for each category, but they include exceptions too.</p>

    <div class="universal-list">
      <h3 class="sub-text">Universal Loves</h3>

      <ul>
        <li>Golden Pumpkin</li>
        <li>Magic Rock Candy</li>
        <li>Pearl</li>
        <li>Prismatic Shard</li>
        <li>Rabbit's Foot</li>
      </ul>

      <h4 class='exception-title'>Universal Loves Exceptions</h4>
      <ul>
        <li>Haley hates Prismatic Shards</li>
        <li>Penny hates Rabbit's Foot</li>
      </ul>
    </div>

    <div class="universal-list">
      <h3 class="sub-text">Universal Likes</h3>
      <ul>
        <li>All Artisan Goods <span class='exception'>Expect for Oil, which is disliked, and Void Mayonaise, which is hated</span></li>
      </ul>
    </div>



  </section>

</div>