<app-header></app-header>
<div class="wrapper">
  <div class="container">
    <h1 class='text-center title'>Relationship Guide</h1>
    <section>
      <h2 class="sub-title title">Background</h2>
      <div class="sub-wrap">
        <p class="content">Stardew Valley has a lot of different things to do in the game. Farming, obviously, is the
          game's core mechanic, but there is also game mechanics for mining, combat, friendships, and even dating and
          marriage!
          This guide is here to help you find what items to give to each villager in order to increase your friendship
          level. The rewards for this effort, outside of being the most popular farmer in town, are new recipes,
          resources, and good old fashioned coin.</p>
      </div>

    </section>

    <section>
      <h2 class="sub-title title">Friendship Level</h2>
      <div class="sub-wrap">
        <p class="content">Let's start out with how friendships work. There is a number that is associated with your
          friendship with a NPC. It starts at zero and will increase through interactions with the character. The most
          common and effective interaction for increasing your friendship level is to give that person a gift. Each
          character has gifts that they love, like, are neutral towards, dislike and hate. To make things a little more
          interesting, all of these lists are different for each character.</p>
      </div>

    </section>

    <section>
      <h2 class="sub-title title">What should I do?</h2>
      <div class="sub-wrap">
        <p class="content">There are some things, such as Prismatic Shards, which are universally loved. Except by
          Haley,
          who hates them. And they are super rare, and they are super valuable. So you probably won't be giving them
          away
          early on in your playthrough. That is pretty much how these universal lists work. What our aim is here on this
          site it to allow you to decide which items to grow/gather for use as gifts that are somewhat easy to come by
          if
          you plan ahead.</p>

        <div class="list">
          <div class="flex-list-title">
            <h3 class="list-title">Loves:</h3>
            <p class="caption">(More often then not, these thing are Univerally Loved by everyone)</p>
          </div>

          <ul class='show-dec'>
            <li>Golden Pumpkin</li>
            <li>Prismatic Shard</li>
            <li>Magic Rock Candy</li>
            <li>Pearl</li>
            <li>Rabbit's Foot</li>
          </ul>
          <p class="sub-text">Exceptions: Haley hates Prismatic Shard, Penny hates Rabbit's Foot</p>
        </div>

        <div class="list">
          <div class="flex-list-title">
            <h3 class="list-title">Likes: </h3>
            <p class='caption'>(This list is peppered with exceptions. Make sure to read the fine print!)</p>
          </div>

          <ul class='show-dec'>
            <li>Artisan Goods</li>
            <li>Cooked Food</li>
            <li>Flowers</li>
            <li>Foraged Minerals</li>
            <li>All Fruit Tree Fruits*</li>
            <li>Gems</li>
            <li>Vegetables</li>
          </ul>
          <p class="sub-text">* only exceptions for fruit tree fruits are things that npcs love, so no big deal</p>
          <p class="sub-text">Exceptions to this list: Oil-disliked, Void-Mayonaise-hated, Fried Egg and Bread-neutral,
            Strange Bun and Seafoam Pudding-hated, Poppy-disliked, Quartz-all over the place, Hops, Tea Leaves, and
            Wheat-neutral, Unmilled Rice-disliked</p>
        </div>



      </div>

    </section>

  </div>
</div>